hr {
	border-top: 1px solid #a8a8a8;
}

.clear {
	clear: both;
}

.ui-panel {
	padding: 0;
}

.ui-panel .ui-panel-content {
	padding: 1em;
}

.ui-panelgrid .ui-widget-content, .ui-panelgrid .ui-widget-content .ui-panelgrid-cell
	{
	border: none;
}

.ui-fileupload .ui-fileupload-content {
	border: 1px solid #a8a8a8;
}

.ui-panelgrid {
	width: 100%;
}

.container {
	margin-top: 20px;
}

.half-layout {
	width: 100%;
}

.half-layout .left-content, .half-layout .right-content {
	width: calc(50% - 7px);
	display: inline-block;
}

.half-layout .left-content {
	margin-right: 10px;
}

.gallery-layout .left-content, .gallery-layout .right-content {
	display: inline-block;
}

.gallery-layout .left-content {
	width: calc(65% - 12px);
	margin-right: 10px;
}

.gallery-layout .right-content {
	width: calc(35% - 2px);
}

.navigation-container {
	height: 50px;
	background-color: black
}

.navigation-container .navigation-container-content {
	width: 940px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.navigation-container .title {
	margin-left: 10px;
	color: white;
	font-size: 2em;
}

.navigation-container .languages-container {
	float: right;
}

.navigation-container .title:hover {
	text-decoration: none;
}

.box-title, .page-title {
	font-size: 2em;
	margin: 10px 0;
	display: block;
}

.image-title {
	font-size: 18px;
	display: block;
	margin: 10px 0;
}

.registration-table .ui-panelgrid-cell {
	height: 35px;
    vertical-align: middle;
}

.galleries-grid .ui-widget-content {
	border: none;
}

.galleries-grid .ui-datagrid-data .ui-datagrid-column, .images-grid .ui-datagrid-data .ui-datagrid-column
	{
	text-align: center;
	padding: 0px;
}

.galleries-grid .ui-datagrid-data .ui-datagrid-column {
	width: calc(100%/ 3)
}

.galleries-grid a:hover {
	text-decoration: none;
}

.galleries-grid .gallery-panel {
	padding: 10px;
	width: calc(100% - 20px);
}

.galleries-grid .gallery-panel:hover {
	background-color: lightblue;
}

.galleries-grid .gallery-panel img {
	object-fit: cover;
	width: 80%;
	height: 80%;
	border-radius: 5px;
	margin-bottom: 5px;
}

.galleries-grid .gallery-panel .gallery-title {
	font-size: 12px;
}

.images-grid .ui-widget-content {
	border: none;
}

.images-grid .ui-datagrid-data .ui-datagrid-column {
	width: 50%;
	text-align: center;
}

.images-grid .image-icon-container {
	background: #fff;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	width: 110px;
	height: 110px;
	margin-right: .5em;
	margin-bottom: .3em;
	text-align: center;
}

.images-grid .image-icon-container img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 25%;
}

.images-grid .image-name {
	display: block;
	width: 100%;
	overflow: hidden;
	font-size: 10px;
}

.selected-image-panel .image-containter {
	min-height: 320px;
}